{% load yg_list %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'yingun/plugins/bootstrap-3.3.7-dist/css/bootstrap.css' %}">
</head>
<body>

<div class="container">
    <h1>数据列表</h1>
    {% if filter_list %}
        <div class="row">
            <h3>组合搜索</h3>
            {% for queryset in filter_list %}
                <div class="row">
                    {% for row in queryset %}
                        <a href="">{{ row }}</a>
                     {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        {% if action_list %}
            <div class="row">
                <select name="action" class="form-control" style="display: inline-block;width:200px">
                    {% for item in action_list %}
                        <option value="{{ item.name }}">{{ item.text }}</option>
                    {% endfor %}
                </select>
                <input type="submit" class="btn btn-primary" value="执行">
            </div>
        {% endif %}
        <a class="btn btn-primary" style="float: right" href="{{ add_url }}">增加</a>

        {% func result_list list_display ygadmin_obj%}
    </form>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {{ page_info.pager |safe }}
        </ul>
    </nav>

</div>
</body>
</html>